
<div class="accoridon " [id]="'heading'+randomNumber">
  <div class="accordion-item row ms-2 mb-2">
    <h4 class="accordion-header col fs-6  text-center pb-1 text-white" style="background-color: #3d3d3d; border:solid 1px #808080;">
      <div class="row">
        <div class="col-1">
          <a class="btn-secondary pe-4 link" role="button" style="margin-top:.5vh; border-radius:5%;"
             [href]="'#collapse'+randomNumber" [attr.aria-controls]="'collapse'+randomNumber"
             data-bs-toggle="collapse"
             aria-expanded="true" aria-controls="collapseOne">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                    d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
          </a>
        </div>
        <div class="col p-2"><span class="text-white">{{system}}</span></div>
      </div>
    </h4>

    <h4 class="accordion-header col fs-6  text-center p-2 text-white" style="background-color: #3d3d3d; border:solid 1px #808080;">
      <div *ngIf="data.Company != 'Others'">
        {{satellitesPerSystem}}
      </div>
      <div *ngIf="data.Company == 'Others'">
        {{data.COMMENT}}
      </div>
    </h4>
    <h4 class="accordion-header col fs-6  text-center p-2 text-white" style="background-color: #3d3d3d; border:solid 1px #808080;">
      <div *ngIf="data.Company != 'Others'">
        Not Yet Available
      </div>
      <div *ngIf="data.Company == 'Others'">
        
      </div>
    </h4>
    <h4 class="accordion-header col fs-6  text-center p-2 text-white" style="background-color: #3d3d3d; border:solid 1px #808080;">
      <div *ngIf="data.Company != 'Others'">
        Not Yet Available
      </div>
      <div *ngIf="data.Company == 'Others'">
        
      </div>
    </h4>
 

    <div [id]="'collapse'+randomNumber" class="accordion-collapse collapse"
         aria-labelledby="headingOne"
         [attr.aria-labelledby]="'heading'+randomNumber">
      <div class="accordion-body mt-2 ms-2 text-white"
           style="border-left:dashed 1px lightblue;">
        <div class="row ms-2" style="margin-bottom:-1vh;">
          <h4 class="col-2 fs-5 text-center pb-1 pt-1 fw-bolder" style="color:lightblue; background-color: #303030; border:solid 1px #808080;">
            Company
          </h4>
          <h4 class="col-md fs-5 text-center pb-1 pt-1 fw-bolder" style="color:lightblue; background-color: #303030; border:solid 1px #808080;">
            System
          </h4>
          <h4 class="col-1 fs-5 text-center fw-bolder pt-1" style="color:lightblue; background-color: #303030; border:solid 1px #808080; ">
            ID
            <div class="btn btn-sm btn-outline-secondary text-white mb-1" style="border:none;" (click)=IDSort()>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
              </svg>
            </div>
          </h4>
          <h4 class="col-2 fs-5 text-center pt-1 fw-bolder" style="color:lightblue; background-color: #303030; border:solid 1px #808080;">
            Name
            <div class="btn btn-sm btn-outline-secondary text-white mb-1" style="border:none;" (click)=NameSort()>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
              </svg>
            </div>
          </h4>

          <h4 class="col-2 fs-5 text-center pb-1 pt-1 fw-bolder" style="color:lightblue; background-color: #303030; border:solid 1px #808080;">
            Orbit
            <!-- Button trigger modal -->
            <a role="button" class="btn btn-sm ms-2 mb-1 btn-outline-secondary" style="color:white; border:none;"
               data-bs-toggle="modal" [href]="'#modal'+randomNumber" [attr.aria-controls]="'modal'+randomNumber">
              Sort <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
                <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
              </svg>
            </a>

            <!-- Modal -->
            <div class="modal fade text-white" [id]="'modal'+randomNumber"
                 [attr.aria-labelledby]="'modal'+randomNumber"
                 data-bs-backdrop="static" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content" style="background-color:#3d3d3d;">
                  <button type="button" class="mt-2 ms-2 btn-close btn-sm btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                  <span class="text-white mb-2">{{system}}</span>
                  <div class="modal-body fw-normal">
                    <div class="container">
                      <form #orbitForm="ngForm" (ngSubmit)="minMaxSorting(orbitForm)" novalidate>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=periapsisSort();>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width:16vh; background-color:#3d3d3d; border-color:lightblue;">Periapsis</span>
                              <input type="text" placeholder="Min" style="background-color:lightgray;" class="form-control me-1" name="periapsisMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="periapsisMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=inclinationSort()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width:16vh; background-color:#3d3d3d; border-color:lightblue;">Inclination</span>
                              <input type="text" placeholder="Min" style="background-color:lightgray;" class="form-control me-1" name="inclinationMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="inclinationMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=eccentricitySort()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width: 16vh;
                                background-color: #3d3d3d;
                                border-color: lightblue;">Eccentricity</span>
                              <input type="text" placeholder="Min" style="background-color: lightgray;"
                                     class="form-control me-1" name="eccentricityMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="eccentricityMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=semiMajorAxisSort()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width:16vh; background-color:#3d3d3d; border-color:lightblue;">Semimajor Axis</span>
                              <input type="text" placeholder="Min" style="background-color:lightgray;" class="form-control me-1" name="semimajorAxisMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="semimajorAxisMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=apoapsisSort()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width:16vh; background-color:#3d3d3d; border-color:lightblue;">Apoapsis</span>
                              <input type="text" placeholder="Min" style="background-color: lightgray;" class="form-control me-1" name="apoapsisMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="apoapsisMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=argOfPericenterSort()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width:16vh; background-color:#3d3d3d; border-color:lightblue;">Arg of Pericenter</span>
                              <input type="text" placeholder="Min" style="background-color:lightgray;" class="form-control me-1" name="argOfPericenterMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="argOfPericenterMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=revAtEpochSort()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width:16vh; background-color:#3d3d3d; border-color:lightblue;">Rev at Epoch</span>
                              <input type="text" placeholder="Min" style="background-color:lightgray;" class="form-control me-1" name="revAtEpochMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="revAtEpochMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-start mb-2 justify-content-start">
                          <div class="col">
                            <div class="input-group input-group-sm">
                              <div class="btn btn-sm btn-outline-secondary text-white me-1" style="border:none;" (click)=meanAnomalySort()>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                                  <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
                                </svg>
                              </div>
                              <span class="input-group-text text-white fw-normal" style="width:16vh; background-color:#3d3d3d; border-color:lightblue;">Mean Anomaly</span>
                              <input type="text" placeholder="Min" style="background-color:lightgray;" class="form-control me-1" name="meanAnomalyMin" ngModel>
                              <input type="text" placeholder="Max" style="background-color:lightgray;" class="form-control" name="meanAnomalyMax" ngModel>
                            </div>
                          </div>
                        </div>
                        <div class="row text-end mb-1 mt-3 justify-content-end">
                          <div class="col">
                            <button type="submit" class="btn btn-outline-secondary">Sort</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </h4>

          <h4 class="col-md fs-5 text-center pb-1 pt-1 fw-bolder" style="color:lightblue; background-color: #303030; border:solid 1px #808080;">
            Launch Date
            <div class="btn btn-sm btn-outline-secondary text-white mb-1" style="border:none;" (click)=LaunchSort()>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
              </svg>
            </div>
          </h4>
          <!--
    <h4 class="col-1   fs-5 border text-center pb-1 pt-1 fw-bolder" style="color:lightblue; background-color: #303030;">
      Country
      <div class="btn btn-sm btn-outline-secondary text-white mb-1" style="border:none;" (click)=CountrySort()>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-up" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M11.5 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L11 2.707V14.5a.5.5 0 0 0 .5.5zm-7-14a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L4 13.293V1.5a.5.5 0 0 1 .5-.5z" />
        </svg>
      </div>
    </h4>
    <h4 class="col-1 fs-5 border text-center pb-1 pt-1 fw-bolder" style="color:lightblue; background-color: #303030;">GP ID</h4>
    -->
        </div>

        <div *ngFor="let s of satOnPage">
          <app-fully-detail-cards [dataBind]="s.RandomINT" [data]="s"></app-fully-detail-cards>
        </div>

        <div class="col nav justify-content-end mt-3 mb-1">
          <button (click)="reset();" class="btn btn-outline-secondary me-3" style="background-color:#3f3f3f; border:solid lightblue 1px; color:lightblue;">
            Reset
          </button>
          <button (click)="download();" class="btn btn-outline-secondary" style="background-color:#3f3f3f; border:solid lightblue 1px; color:lightblue;">
            Export
          </button>
          <div><button class="btn btn-outline-secondary text-white" style="position:inherit; border:none;" disabled>Page {{DisplayPageNumber}} of {{displayNumberOfPages}}</button></div>
          <div style="border-bottom:solid 1px #808080; border-left:solid 1px #808080;"><a class="btn btn-outline-secondary text-white" style="border:none;" (click)=clickPrevious()>Previous</a></div>
          <div style="border-bottom:solid 1px #808080;"><a class="btn btn-outline-secondary text-white" style="border:none;" (click)=click1()>1</a></div>
          <div style="border-bottom:solid 1px #808080;"><a class="btn btn-outline-secondary text-white" style="border:none;" (click)=click2()>+10</a></div>
          <div style="border-bottom:solid 1px #808080;"><a class="btn btn-outline-secondary text-white" style="border:none;" (click)=clickNext()>Next</a></div>
          <div style="border-bottom:solid 1px #808080; border-right:solid 1px #808080;"><a class="btn btn-outline-secondary text-white" style="border:none;" (click)=clickLast()>Last</a></div>
        </div>
      </div>
    </div>
  </div>
</div>
